<?php if(isset($_SESSION['_MESS_'])):?>
    <div id="_mess_" style="
    border:1px solid rgb(32, 175, 39);
    background-color:rgba(9, 255, 103, 0.952);
    padding:5px;
    ">
        <?=$_SESSION['_MESS_']?>
    </div>
<?php unset($_SESSION['_MESS_'])?>
<?php endif;?>

<script>
    var m =document.getElementById('_mess_');
    var s = 3;
    setInterval(function(){
        s--;
        if(s==0)
        {
            m.style.display='none';
            clearInterval($i);
        }
    },1000); 
</script>
<h2>
    智聊项目
</h2>
<a href="/index/indexs">首页</a>

<?php if( isset($_SESSION['id']) ): ?>

<?=$_SESSION['email']?>

<a href="/user/logout">退出</a>


<?php else: ?>

<a href="/user/register">注册</a>
<a href="/user/login">登录</a>

<?php endif;?>
<a href="/index/index">最新发表日志</a>
<hr>